<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.osgi.applications">
    <application id="uk.ac.ucl.cmic.gui.qt.niftymidas">
      <run class="QmitkNiftyMIDASApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.gui.qt.niftymidas.midasperspective"
      name="MIDAS Perspective"
      class="QmitkCommonAppsMIDASPerspective"
      icon="resources/icon_ion.xpm">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.gui.qt.niftymidas.qcperspective"
      name="QC Perspective"
      class="QmitkQCPerspective"
      icon="resources/icon_ion.xpm">
    </perspective>
  </extension>

</plugin>
