<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="uk.ac.ucl.cmic.igitagtracker"
          name="Tag Tracker"
          class="TagTrackerView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.TagTrackerViewPreferencePage" name="Tag Tracker" class="TagTrackerViewPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.TagTrackerView"></keywordreference>
    </page>
  </extension>

</plugin>
