<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.ui.editors">
    <editor
      id="org.mitk.editors.singlewidget"
      name="Single Display"
      extensions="mitk"
      class="QmitkSingleWidgetEditor">
    </editor>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.SingleWidgetEditorPreferencePage" name="Single Widget"
      class="QmitkSingleWidgetEditorPreferencePage" category="org.mitk.EditorsPreferencePage">
      <keywordreference id="org.mitk.SingleWidgetEditorPreferencePageKeywords"/>
    </page>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.SingleWidgetEditorPreferencePageKeywords" label="zooming"/>
    <keyword id="org.mitk.SingleWidgetEditorPreferencePageKeywords" label="padding"/>
    <keyword id="org.mitk.SingleWidgetEditorPreferencePageKeywords" label="level window"/>
    <keyword id="org.mitk.SingleWidgetEditorPreferencePageKeywords" label="PACS"/>
    <keyword id="org.mitk.SingleWidgetEditorPreferencePageKeywords" label="mouse"/>
    <keyword id="org.mitk.SingleWidgetEditorPreferencePageKeywords" label="background"/>
  </extension>
</plugin>
