<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.editors">
    <editor
      id="org.mitk.editors.midasmultiview"
      name="Drag And Drop Display"
      default="true"
      extensions="mitk"
      class="QmitkMIDASMultiViewEditor">
    </editor>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.editors.midasmultiview.MIDASMultiViewEditorPreferencePage" name="Drag And Drop Display" class="QmitkMIDASMultiViewEditorPreferencePage">
      <keywordreference id="org.mitk.editors.midasmultiview.MIDASMultiViewEditorPreferencePageKeywords"></keywordreference>
    </page>     
  </extension>

</plugin>
