/.cproject
/.project
/Prototype
/Code/Gui/MITK/Plugins/uk.ac.ucl.cmic.niftyreg/src/internal/RunQTtoC++.sh
/Code/Gui/MITK/Plugins/uk.ac.ucl.cmic.niftyreg/src/internal/QmitkNiftyRegView_Template.cpp
/Code/Gui/MITK/Plugins/uk.ac.ucl.cmic.niftyreg/src/internal/QmitkNiftyRegView_Template.h
/Code/Gui/MITK/Plugins/uk.ac.ucl.cmic.niftyreg/src/internal/QmitkNiftyRegView.cpp.edited
*~
