<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="uk.ac.ucl.cmic.gui.qt.niftymidas" point="org.blueberry.osgi.applications">
    <application>
      <run class="QmitkNiftyMIDASApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.gui.qt.niftymidas.segmentation_perspective"
      name="MIDAS Segmentation"
      class="QmitkMIDASSegmentationPerspective"
      icon="resources/icon_ion.xpm">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.gui.qt.niftymidas.qc_perspective"
      name="MIDAS QC"
      class="QmitkMIDASQCPerspective"
      icon="resources/icon_ion.xpm">
    </perspective>
  </extension>

</plugin>
