<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <category 
      id="org.mitk.views.general" 
      name="MITK General"/>   
    <view id="uk.ac.ucl.cmic.igiundistort"
          name="Distortion Correction"
          category="org.mitk.views.general"
          class="UndistortView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.igiundistortpreferencespage" name="Distortion Correction" class="UndistortViewPreferencesPage">
      <keywordreference id="uk.ac.ucl.cmic.igiundistortpreferencespagekeywords"></keywordreference>
    </page>
  </extension>
  
</plugin>
