<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="uk.ac.ucl.cmic.niftyigi" point="org.blueberry.osgi.applications">
    <application>
      <run class="niftk::NiftyIGIApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.niftyigi.igiperspective"
      name="IGI Perspective"
      class="niftk::IGIPerspective"
	  icon="resources/icon_cmic.xpm">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.common.BaseApplicationPreferencePage" name="Application Preferences" class="niftk::BaseApplicationPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.common.BaseApplicationPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
