<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="uk.ac.ucl.cmic.niftymidas" point="org.blueberry.osgi.applications">
    <application>
      <run class="niftk::NiftyMIDASApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.niftymidas.default_perspective"
      name="Default"
      class="niftk::QCPerspective"
      icon="resources/icon_ion.xpm">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.niftymidas.qc_perspective"
      name="QC"
      class="niftk::QCPerspective"
      icon="resources/icon_ion.xpm">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.niftymidas.segmentation_perspective"
      name="Segmentation"
      class="niftk::SegmentationPerspective"
      icon="resources/icon_ion.xpm">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.common.BaseApplicationPreferencePage" name="Application Preferences" class="niftk::BaseApplicationPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.common.BaseApplicationPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
