<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="uk.ac.ucl.cmic.igipivotcalibration"
          name="Pivot Calibration"
          class="PivotCalibrationView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.PivotCalibrationViewPreferencePage" name="Pivot Calibration" class="PivotCalibrationViewPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.PivotCalibrationViewKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
