<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="uk.ac.ucl.cmic.niftyview" point="org.blueberry.osgi.applications">
    <application>
      <run class="niftk::NiftyViewApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.niftyview.default_perspective"
      name="Default"
      class="niftk::DnDDefaultPerspective"
      icon="resources/icon_ucl.xpm">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.niftyview.NiftyViewPreferencePage" name="Application Preferences" class="niftk::NiftyViewPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.niftyview.NiftyViewPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
