<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.gui.qt.commonapps.QmitkCommonAppsApplicationPreferencePage" name="Application Preferences" class="QmitkCommonAppsApplicationPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.gui.qt.commonapps.QmitkCommonAppsApplicationPreferencePageKeywords"></keywordreference>
    </page>
  </extension>
</plugin>
