<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="uk.ac.ucl.cmic.gui.qt.niftyigi" point="org.blueberry.osgi.applications">
    <application>
      <run class="QmitkNiftyIGIApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="uk.ac.ucl.cmic.gui.qt.niftyigi.igiperspective"
      name="IGI Perspective"
      class="QmitkCommonAppsIGIPerspective"
	  icon="resources/icon_cmic.xpm">
    </perspective>
  </extension>

</plugin>
