<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="uk.ac.ucl.cmic.igimaskmerger"
          name="Mask Merger"
          class="niftk::MaskMergerView"
          icon="resources/niftkMaskMerger.png" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.igimaskmerger.preferencepage"
          name="Mask Merger"
          class="niftk::MaskMergerPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.maskmerger.keywords"></keywordreference>
    </page>
  </extension>

</plugin>
