<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.ui.editors">
    <editor
      id="org.mitk.editors.dnddisplay"
      name="Drag And Drop Display"
      extensions="mitk"
      default="true"
      class="niftkMultiViewerEditor">
    </editor>
  </extension>
  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.niftk.MultiViewerEditorPreferencePage" name="Drag and Drop Display" 
      class="niftkMultiViewerEditorPreferencePage" category="org.mitk.EditorsPreferencePage">
      <keywordreference id="org.niftk.MultiViewerEditorPreferencePageKeywords"/>
    </page>     
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.niftk.MultiViewerEditorPreferencePageKeywords" label="interpolation"/>
    <keyword id="org.niftk.MultiViewerEditorPreferencePageKeywords" label="rows"/>
    <keyword id="org.niftk.MultiViewerEditorPreferencePageKeywords" label="columns"/>
    <keyword id="org.niftk.MultiViewerEditorPreferencePageKeywords" label="default view"/>
    <keyword id="org.niftk.MultiViewerEditorPreferencePageKeywords" label="drop"/>
    <keyword id="org.niftk.MultiViewerEditorPreferencePageKeywords" label="ortho"/>
  </extension>
  
</plugin>
