<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="uk.ac.ucl.cmic.midasgeneralsegmentor"
          name="MIDAS Irregular Volume Editor"
          class="MIDASGeneralSegmentorView"
          icon="resources/MIDASGeneralSegmentor.png" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.midasgeneralsegmentor.preferencepage" name="MIDAS Irregular Volume Editor" class="MIDASGeneralSegmentorViewPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.midasgeneralsegmentor.keywords"></keywordreference>
    </page>
  </extension>

</plugin>
