<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="uk.ac.ucl.cmic.surgicalguidance"
          name="Surgical Guidance"
          class="SurgicalGuidanceView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="uk.ac.ucl.cmic.SurgicalGuidancePreferencePage" name="Surgical Guidance" class="SurgicalGuidanceViewPreferencePage">
      <keywordreference id="uk.ac.ucl.cmic.SurgicalGuidanceKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
